body{
    background-color: #000000;
	margin: 0;
}
.menu{
	position: fixed; /*fixa o menu, quando desce a pagina o menu vai junto*/

}/* overflow: hidden; o menu nao aparece o submenu*/
.menu ul, .menu li {
	margin: 0;
	padding:0%;
}
.menu ul {
	background: #000000e1;
	list-style:none; /*modifica posição, se vai ter numero*/
	width: 150%;
	position: fixed;
}
.menu li {
	float:left;
	position:relative; /*posição do submenu*/
	width: 200px;
}
.menu a {
	background: #000000;
	color: #ffffff;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 18px 30px;
	font-size: 15px; /*tamanho da letra do menu*/
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	float:inline-end; /*o menu vai pra esqueda, direita,...*/
}
.menu li:hover a {
	background: #6b0606e1;
}
.menu a:hover{
	background-color: rgb(165, 47, 47);
	color: rgb(255, 255, 255);
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #000000;
}
#submenu a {
	background-color: rgb(146, 20, 4) ;
}

.logos{
	text-align: center;
	width:"60%";
	height:"5050";
}
p{
    color: white;
}
.text{
	margin: 200px;
	text-align:unset;
    color: white;
}
h1{
	color: white;
}
h2{
	color: white;
}
h3{
	color:red;
}
h4{
	color: red;
}
h5{
	color: white;
}
h6{
	color: white;
}
.cor{
    color:rgb(247, 13, 13);
}
footer{
	color: white;
}